.reveal {
    font-size: 75px;
}

.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;
}

.reveal ol {
    list-style-type: none;
}

.reveal table .r {
    text-align: right;
    width: 100px;
}

.reveal table td {
    vertical-align: middle;
}

#pipeline-drawing {
    height: 800px;
    margin-bottom: 100px;
}

#pipeline-drawing .part {
    transition: opacity 1s;
    opacity: 1;
}

#pipeline-drawing .plan {
    fill: #19838E;
}

#pipeline-drawing .create {
    fill: #8B9B29;
}

#pipeline-drawing .build {
    fill: #3737AA;
}

#pipeline-drawing .package {
    fill: #3FA9F5;
}

#pipeline-drawing .release {
    fill: #F15A24;
}

#pipeline-drawing .configure {
    fill: #9263AB;
}

#pipeline-drawing .monitor {
    fill: #AA2E2E;
}

#pipeline-drawing .text {
    transition: opacity 1s;
    fill: #fff;
    opacity: 1;
}

#pipeline-drawing .dim {
    transition: opacity 1s;
    opacity: .2;
}

#pipeline-drawing .off {
    transition: opacity 1s;
    opacity: 0;
}

#pipeline-drawing .on {
    transition: opacity 1s;
    opacity: 1;
}

.icons {
    width: 100%;
    text-align: center;
}

.icons span {
    display: inline-block;
    margin: 0 100px;
}

.icons span:first-of-type {
    margin-left: 0;
}

.icons span:last-of-type {
    margin-right: 0;
}

#payex-logo {
    margin-top: 100px;
}
