.reveal {
    font-size: 75px;
}

.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;
}

#pipeline-drawing .plan {
    fill: #19838E;
}

#pipeline-drawing .create {
    fill: #8B9B29;
}

#pipeline-drawing .build {
    fill: #3737AA;
}

#pipeline-drawing .package {
    fill: #3FA9F5;
}

#pipeline-drawing .release {
    fill: #F15A24;
}

#pipeline-drawing .configure {
    fill: #9263AB;
}

#pipeline-drawing .monitor {
    transition: opacity 1s;
    fill: #AA2E2E;
    opacity: 1;
}

#pipeline-drawing .text {
    transition: opacity 1s;
    fill: #fff;
    opacity: 1;
}

#pipeline-drawing .dim {
    transition: opacity 1s;
    opacity: .2;
}

#pipeline-drawing .off {
    transition: opacity 1s;
    opacity: 0;
}
